<h1>following</h1>
 <h2>folower name：<%=@user.name%></h2> 
 <br>
<div class="clearfix">
  <% @users.each do |user| %>
  <%= gravatar_for(user, size: 50) %>
  followed name：<%= user.name %>
</div>
  <% end %>